*{
    box-sizing: border-box;
}

body{
    background-color: rgb(218, 232, 218);
}

.img{
    max-width: 480px;
}

footer{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 2.5rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    font-size: 1.2rem;

}

footer ul li{
    padding: .3rem 0;
}

.redes a{
    margin: 0 10px;
    display: inline-block;
}

#gracias{
    display: none;
    max-width: 486px;
    margin: auto;
    padding: 10px;
    font-size: 1.2rem;
    background-color: pink;
    border: solid 2px black;
}

#gracias:target{
    display: block;
}

#gracias a{
    display: block;
    background-color: blanchedalmond;
    max-width: 100px;
    text-decoration: none;
    padding: 10px;
    margin: 15px auto auto;
    color: black;
    text-align: center;
}

#gracias a:hover{
    background-color: rgb(218, 232, 218);
}

.pastilla {
    max-width: 324px;
    background-color: rgb(74, 44, 44);
    margin: 5rem auto;
    border-radius: 35px;
    color: white;
    font-size: 1.2rem;
    height: 405px;
}

.pastilla p {

    line-height: 1.45rem;
    font-size: 1.2rem;
}

.articulo {
    display: flex;
    width: 76vw;
    height: calc(76vw * 315 / 560);
    max-width: 560px;
    max-height: 315px;
}



.zapatilla {
    background-image: url(../img/zapatilla.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.corriendo {
    background-image: url(../img/corriendo.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.botiquin {
    background-image: url(../img/botiquin.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.feliz {
    background-image: url(../img/feliz.png);
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.verde{
    background-color: rgb(183, 206, 183);
}

.noverde{
    background-color: rgb(196, 219, 193);
}

#logo{
    width: 131px;
    height: 40px;
    background: url("../img/Logo.png");
    font-size: 0;
    position: absolute;
    top: 8px;
    left: 15px;
}

header{
    position: relative;
}


.carousel-caption {
    position: absolute;
    right: 0;
    top: 0.1rem;
    left: 45%;
    padding-top: 0.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: right;
    width: 50%;


}
.carousel-caption h2{
    line-height: 36px;
    color: rgb(74, 44, 44);
}
#carouselExampleCaptions > div.carousel-inner > div.carousel-item.active > div > p:nth-child(2){
    display: none;
    color: rgb(74, 44, 44);
}



.hover li a:hover{
    background: blanchedalmond;
}

#beneficio > div > div.col-10.m-auto.col-lg-8{
    background-color: rgb(183, 206, 183);
    padding: 1rem;
    border-radius: 25px;
}

body > aside > form > div{
    background-color: rgb(183, 206, 183);
    padding: 1rem;
    border-radius: 25px;
}

.form-control{

    border:2px solid rgb(74, 44, 44);
    border-radius: 10px;

}


h2{
    font-family: 'Aleo', serif;
    font-weight: bold;

}

h3{
    font-family: 'Prompt', sans-serif;
    color: rgb(74, 44, 44);
}

#video{
    font-size: 2.4rem;
}

.video p{
    font-size: 1.2rem;

}


.titulo{
    font-size: 2.4rem;
    color: rgb(74, 44, 44);
}




@media screen and (min-width: 768px){
    .carousel-caption {
        position: absolute;
        right: 0;
        top: 0.1rem;
        padding-top: 0.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: right;


    }

    .will{
        border-radius: 75px
    }

    #carouselExampleCaptions > div.carousel-inner > div.carousel-item.active > div > p:nth-child(2){
        display: block;
        padding-top: 15px;
    }

}

@media screen and (min-width: 1400px){
    }

.carousel-caption p{
    line-height: 20px;
}

.boton{
    display: none;
}



@media screen and (min-width: 634px){
    .boton{
        width: 119px;margin-left: 64%;
        padding-top: 55px;
        display: block;
    }

    .boton a{
        display: block;
        text-decoration: none;
        padding: 1rem;
        color: white;
        background-color: rgb(74, 44, 44);
        border-radius: 15px;
    }
}





body > section.somos.container > div > div.col-10.col-md-8.col-lg-6.m-auto.col-xl-6 > p{
    margin-bottom: 4rem;
}


@media screen and (max-width: 767px){
    #logo {
        left: calc(50% - (131px/2))
    }
}


@media screen and (min-width: 992px){

    #maraton > div:nth-child(2) > div > div:nth-child(4){
        background-color: rgb(183, 206, 183);
    }

    #maraton > div:nth-child(2) > div > div:nth-child(3){
        background-color: rgb(196, 219, 193);
    }


}

.will{
    background-color: rgb(119, 165, 119);

}



.somos{
    background-color: rgb(218, 242, 218);
}

aside{
    background-color: rgb(119, 165, 119);
}

div > label{
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    color: rgb(74, 44, 44);
}

.form-check-label{
    font-size: 1em;
}

body > aside > form > div > input{
    font-family: 'Prompt', sans-serif;
    border-radius: 15px;
    background-color: rgb(74, 44, 44);
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgb(74, 44, 44);
}

.form-check-input{
    border: 1px solid rgb(74, 44, 44);
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(74, 44, 44);
    font-size: 1.2em;
}

body > aside > form > div > div:nth-child(8) > label{
    margin-top: .5rem;
}
